.blugBgHed {
  background-color: #1771b7 !important;
  padding: 16px 0px;
  margin: 0 0 50px 0;
  text-align: center;
  color: #fff;
  font-size: 39px;
  font-weight: 800;
  letter-spacing: 0.3px;
  margin-bottom: 50px;
}

@media (max-width:767px) {


  .blugBgHed {
    padding: 15px;
    font-size: 24px;
    margin-bottom: 15px;
  }
}
