.headingIcon {
  margin-bottom: 25px;
  font-weight: 800;
  color: #383838;
  margin-top: 15px;
}

.userProfile {
  padding-right: 12px;
}

.commonBox {
  padding: 25px 0;
}


@media (max-width:767px) {


  .commonBox {
    padding: 0 0 15px 0;
  }
}
