<div class="patientPortalTable">
  <app-title-header [title]="title"></app-title-header>
  <div class="container">
    <div class="commonBox">
      <h3 class="headingIcon"><i class="fa fa-users"></i> Patient Portal Users</h3>
      <div class="displayMainTable table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th></th>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Network ID</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Clinic</th>
              <th>Role</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let index = index;">
              <td>{{index + 1}}</td>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.networkId}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phone}}</td>
              <td>{{user.clinic}}</td>
              <td>{{user.role}}</td>
              <td>{{user.status}}</td>
              <td>
                <a href="javascript:void(0)" class="userProfile" (click)="editUser(user)"><i class="fa fa-cog "></i></a>
                <a href="javascript:void(0)" class="userEdit" (click)="deleteUser(user.id)"><i class="fa fa-trash "></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
