<!--======New Group Message======-->
<div class="newGroupMsg">
  <div class="container">
    <h3 class="tableHeading">New {{type}} Message</h3>
    <div class='alert alert-danger' *ngIf="error">{{error}}</div>
    <div class="newGroupMsgFrm">
      <form [formGroup]="messageForm">
        <div class="row form-group">
          <div class="col-md-6 col-sm-6">
            <label>Send To:</label>
            <input type="text" formControlName='users' class="form-control" />
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-3 col-sm-3">
            <select formControlName='template' [(ngModel)]="selectedtempale" class="form-control" name="TemplateOptions">
              <option value="" disabled>Select a template</option>
              <option *ngFor="let template of templates;" [ngValue]="template" class="option1">
                {{template?.templateName}}
              </option>
            </select>
          </div>
          <div class="col-md-9 col-sm-9">
            <input formControlName='subject' type="text" placeholder="Subject" class="form-control" />
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-12">
            <textarea rows="6" readonly disabled placeholder="Select a template message from the dropdown menu." class="form-control">{{
              selectedtempale?.templateMessage
            }}</textarea>
          </div>
        </div>
        <div *ngIf="type === 'Individual'" class="row form-group">
          <div class="col-md-12">
            <label>Include a secure message (optional):</label>
            <textarea formControlName='secureMessage' rows="6" class="form-control" placeholder="Write a message">This is template message number three.</textarea>
          </div>
        </div>
        <hr/>
        <div class="groupBoxBtn text-right">
          <button [ngClass]="{'disabled': !this.messageForm.valid}" class="customBtn" value="Save" name="save" type="submit" (click)="save()">Save</button>
          <button [ngClass]="{'disabled': !this.messageForm.valid}" class="customBtn" value="Schedule" name="schedule" type="submit" (click)="schedule()">Schedule</button>
          <button class="customBtn closeGreen" value="Close" name="close" type="submit" (click)="close()">Close</button>
          <button [ngClass]="{'disabled': !this.messageForm.valid}" class="customBtn cPink" value="Send" name="send" type="submit" (click)="send()">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--======New Group Message======-->