.patientFrm {
  padding: 50px 0 0;
}

.PatientPSection input {
  border-radius: 3px;
  height: 36px;
  border: 2px solid #ccc;
  font-weight: 600;
  font-size: 15px;
  padding-bottom: 7px;
}

.patientFrm .row>div {
  padding: 0 7.5px;
}

.patientFrm .customBtn {
  width: 100%;
}

.patientFrm .row {
  margin: 0 -7.5px;
}

@media (max-width:991px) {

  .patientFrm {
    padding: 0 0 6px;
  }

  .patientFrm .form-group {
    margin-bottom: 11px;
  }

}
