<div class="patientPSection">
  <app-title-header [title]="title"></app-title-header>
  <!-- search container -->
  <div class="container">
    <form class="patientFrm" (ngSubmit)="findPatients()" [formGroup]="searchForm">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="form-group">
            <input formControlName="lastName" type="text" class="form-control" placeholder="Last Name">
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="form-group">
            <input formControlName="emr" type="text" class="form-control" placeholder="EMR #">
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="form-group">
            <input formControlName="dob" type="text" class="form-control" placeholder="Date of Birth">
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="form-group">
            <input formControlName="dov" type="text" class="form-control" placeholder="Date of Visit">
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="form-group">
            <button type="submit" class="customBtn">
              SEARCH
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


<!--======Displaying search results for last name "Doe".======-->
<div class="displaySrchTable" *ngIf="patients && patients.length">
  <div class="container">
    <div *ngIf="message" class="alert alert-success alert-dismissible">
      <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{message}}
    </div>

    <h3 class="tableHeading">Displaying search results: </h3>
    <div class="displayMainTable table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>EMR ID</th>
            <th>Date of Birth</th>
            <th>Date of Visit</th>
            <th class="text-center">Actions</th>
            <th>
              <input [checked]="allSelected" (change)="addRemoveAll($event)" type="checkbox" id="checkAllCheck" />
              <label for="checkAllCheck"></label>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients; let index = index">
            <td>{{index + 1}}.</td>
            <td>{{patient?.firstName}}</td>
            <td>{{patient?.lastName}}</td>
            <td>{{patient?.patientRegKey}}</td>
            <td>{{patient?.dob}}</td>
            <td>{{patient?.dov}}</td>
            <td class="text-center">
              <a href="javascript:void(0)" class="userProfile">
                <i [routerLink]="['/patient', patient.patientRegKey]" class="fa fa-user"></i>
              </a>
              <a href="javascript:void(0)" class="userEdit">
                <i (click)="newIndividualMessage(patient)" class="fa fa-edit"></i>
              </a>
            </td>
            <td>
              <input (change)="addRemove($event, patient)" [checked]="patient?.isChecked" type="checkbox" id="displaying_{{index}}" />
              <label for="displaying_{{index}}"></label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="groupBoxBtn text-right">
      <a [ngClass]="{'disabled': !isOptionChecked}" class="customBtn" href="javascript:void(0)" (click)="newGroupIndividualMessage()">GROUP
        MESSAGE</a>
    </div>
  </div>
</div>
<!--======Displaying search results for last name "Doe".======-->
<app-send *ngIf="selectedPatients && selectedPatients.length" [type]="type" [selectedPatients]="selectedPatients">
</app-send>
