<div class="patientPSection">
  <app-title-header [title]="title"></app-title-header>
  <!-- search container -->
  <div class="container">
    <form class="patientFrm">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name">
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="EMR #">
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Date of Birth">
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Date of Visit">
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="form-group">
            <button (click)="findPatients()" type="submit" class="customBtn ">
              SEARCH
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


<!--======Displaying search results for last name "Doe".======-->
<div class="displaySrchTable" *ngIf="patients && patients.length">
  <div class="container">
    <h3 class="tableHeading">Displaying search results for last name "{{query}}".</h3>
    <div class="displayMainTable table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>EMR ID</th>
            <th>Date of Birth</th>
            <th>Date of Visit</th>
            <th class="text-center">Actions</th>
            <th>
              <input [checked]="allSelected" (change)="addRemoveAll($event)" type="checkbox" id="checkAllCheck" />
              <label for="checkAllCheck"></label>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients; let index = index">
            <td>{{index + 1}}.</td>
            <td>{{patient?.firstName}}</td>
            <td>{{patient?.lastName}}</td>
            <td>{{patient?.patientRegKey}}</td>
            <td>{{patient?.dob}}</td>
            <td>{{patient?.dov}}</td>
            <td class="text-center">
              <a href="javascript:void(0)" class="userProfile">
                <i [routerLink]="['/patient', patient.patientRegKey]" class="fa fa-user"></i>
              </a>
              <a href="javascript:void(0)" class="userEdit">
                <i (change)="newIndividualMessage(patient)" class="fa fa-edit"></i>
              </a>
            </td>
            <td>
              <input (change)="addRemove($event, patient)" [checked]="allSelected || patient?.isChecked" type="checkbox" id="displaying_{{index}}" />
              <label for="displaying_{{index}}"></label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="groupBoxBtn text-right"><a class="customBtn" href="">GROUP MESSAGE</a></div>
  </div>
</div>
<!--======Displaying search results for last name "Doe".======-->




<app-add-group-message></app-add-group-message>
<app-add-message></app-add-message>
