.addEditUserFrm label {
  margin-bottom: 4px;
  font-size: 15px;
  cursor: default;
  color: #333;
  font-weight: 700;
}


.addEditUserFrm form input,
.addEditUserFrm form select {
  margin-bottom: 25px;
}

.radio label {
  font-weight: 500;
}

.btnS {
  padding-top: 30px;
}

@media (max-width:767px) {

  .addEditUserFrm form input,
  .addEditUserFrm form select {
    margin-bottom: 10px;
  }

  .btnS {
    padding-top: 15px;
  }

}
