<app-title-header [title]="title"></app-title-header>
<div class="physicianInbox">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-3">
        <div class="newMsgBtn">
          <a href="" class="customBtn cPink" target="_blank"><i class="fa fa-edit"></i> New Message</a>
        </div>
        <hr>
        <div class="tabPanel">
          <div class="active">
            <a href=""><span class="badge pull-right">32</span> Inbox </a>
          </div>
          <div>
            <a href=""><span class="badge pull-right">3</span> Sent </a>
          </div>
        </div>
        <hr>
        <div class="selectClinic">
          <form>
            <div class="form-group ClinicDropdown">
              <label>Select Clinic:</label>
              <select class="form-control">
                <option value="all" class="option0">All Clinics</option>
                <option value="Chelsea" class="option1">Chelsea</option>
              </select>
            </div>
          </form>
          <form>
            <div class="form-group ClinicDropdown">
              <label>Select User Role:</label>
              <select class="form-control">
                <option value="all" class="option0">All Clinics</option>
                <option value="Chelsea" class="option1">Chelsea</option>
              </select>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-10 col-sm-9">
        <div class="inboxRight">
          <div class="row">
            <div class="col-sm-5 col-md-6 col-xs-5">
              <div class="inlineBtn">
                <button class="btnCstm fixWdth">
                  <input id="checkAllCheck" type="checkbox">
                  <label for="checkAllCheck"></label>
                </button>
                <div class="dropdown">
                  <button class="btnCstm dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">All</a></li>
                    <li><a href="#">Read</a></li>
                    <li><a href="#">Unread</a></li>
                  </ul>
                </div>
                <button class="btnCstm">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
            <div class="col-sm-7 col-md-6 col-xs-7">
              <div class="text-right leftRightPg">
                <span class="text-muted"><b>1</b>–<b>50</b> of <b>160</b></span>
                <div class="btn-group btn-group-sm">
                  <button type="button" class="btnCstm">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </button>
                  <button type="button" class="btnCstm">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="row listMsg">
            <div class="col-sm-12 col-md-3">
              <div class="userNCheck">
                <input id="checkAll" type="checkbox">
                <label for="checkAll"></label>
                <a href="#collapseOne" data-toggle="collapse" data-parent="#accordion">
                  <span class="name">Jane Doe</span>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-9">
              <div class="messageSendF">
                <a href="#collapseOne" data-toggle="collapse" data-parent="#accordion">
                  <span class="">I have an update, health question or concern</span>
                  <p class="ellipse"><span class="emailSummary">Hi, I came to the
                      clinic two
                      days ago and forgot what the nurse told me about taking PEP.</span>
                  </p>
                </a>
                <div id="collapseOne" class="collapse" role="tabpanel">
                  <p class="emailBody">Hi, I came to the clinic two days ago and forgot what the nurse told me about
                    taking PEP.
                  </p>
                  <br><br><br>
                  <button type="submit" class="customBtn">
                    REPLY
                  </button>
                  <button type="submit" class="customBtn">
                    FORWARD
                  </button>
                  <br>
                  <div class="replyFrm">
                    <form>
                      <div class="form-group">
                        <label>Reply:</label>
                        <textarea name="message" placeholder="Type your message..." class="form-control" rows="6"></textarea>
                      </div>
                      <button class="customBtn closeGreen">Close</button>
                      <button class="customBtn cPink">Send</button>
                    </form>
                  </div>
                  <div class="forwardFrm">
                    <form>
                      <div class="form-group">
                        <label for="forward-msg">Forward to:</label>
                        <select class="form-control" name="FwdOptions">
                          <option selected="" value="0" disabled="">Select a recipient</option>
                          <option value="Triage Nurse">Triage Nurse</option>
                          <option value="Recipient 2">Recipient 2</option>
                          <option value="Recipient 3">Recipient 3</option>
                          <option value="Recipient 4">Recipient 4</option>
                        </select>

                        <textarea name="fwdmessage" placeholder="Type your message..." class="form-control" rows="6"></textarea>

                      </div>
                      <button class="customBtn closeGreen">Close</button>
                      <button class="customBtn cPink">Send</button>
                    </form>
                  </div>
                  <br>
                </div>
                <br>
                <span class="pull-right timestamp">
                  <span class="badge"> August 31 </span>
                </span>
              </div>
            </div>
          </div>

          <div class="row listMsg">
            <div class="col-sm-12 col-md-3">
              <div class="userNCheck">
                <input id="checkAll" type="checkbox">
                <label for="checkAll"></label>
                <a href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">
                  <span class="name">Jane Doe</span>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-9">
              <div class="messageSendF">
                <a href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">
                  <span class="">Message Title</span>
                  <p class="ellipse"><span class="emailSummary">
                      It was a dark and stormy night :D</span>
                  </p>
                </a>
                <div id="collapseTwo" class="collapse" role="tabpanel">
                  <p class="emailBody">This is the song that never ends and it goes on and on my friend. Some people
                    started singing it
                    not knowing what it was and they'll continue singing it forever just because this is the song that
                    never ends
                  </p>
                  <p class="emailBody">
                    This is the song that never ends and it goes on and on my friend. Some people started singing it
                    not knowing what it
                    was and they'll continue singing it forever just because this is the song that never ends
                  </p>
                  <br><br><br>
                  <button type="submit" class="customBtn">
                    REPLY
                  </button>
                  <button type="submit" class="customBtn">
                    FORWARD
                  </button>
                  <br>
                  <div class="replyFrm">
                    <form>
                      <div class="form-group">
                        <label>Reply:</label>
                        <textarea name="message" placeholder="Type your message..." class="form-control" rows="6"></textarea>
                      </div>
                      <button class="customBtn closeGreen">Close</button>
                      <button class="customBtn cPink">Send</button>
                    </form>
                  </div>
                  <div class="forwardFrm">
                    <form>
                      <div class="form-group">
                        <label for="forward-msg">Forward to:</label>
                        <select class="form-control" name="FwdOptions">
                          <option selected="" value="0" disabled="">Select a recipient</option>
                          <option value="Triage Nurse">Triage Nurse</option>
                          <option value="Recipient 2">Recipient 2</option>
                          <option value="Recipient 3">Recipient 3</option>
                          <option value="Recipient 4">Recipient 4</option>
                        </select>

                        <textarea name="fwdmessage" placeholder="Type your message..." class="form-control" rows="6"></textarea>

                      </div>
                      <button class="customBtn closeGreen">Close</button>
                      <button class="customBtn cPink">Send</button>
                    </form>
                  </div>
                  <br>
                </div>
                <br>
                <span class="pull-right timestamp">
                  <span class="badge"> August 31 </span>
                </span>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
