<app-title-header [title]="title"></app-title-header>
<div class="physicianInbox">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-3">
        <div class="newMsgBtn">
          <a [routerLink]="['/add-message']" class="customBtn cPink"><i class="fa fa-edit"></i> New Message</a>
        </div>
        <hr>
        <div class="tabPanel">
          <div [ngClass]="{'active': selectedTab === 'inbox'}">
            <a (click)="(selectedTab = 'inbox')"><span class="badge pull-right">{{allMessages?.getInboxMessagesReadCount()}}</span> Inbox </a>
          </div>
          <div [ngClass]="{'active': selectedTab === 'sent'}">
            <a (click)="(selectedTab = 'sent')"><span class="badge pull-right">{{allMessages?.getSentMessagesReadCount()}}</span> Sent </a>
          </div>
        </div>
        <hr>
        <div class="selectClinic">
          <form>
            <div class="form-group ClinicDropdown">
              <label>Select Clinic:</label>
              <select class="form-control">
                <option value="all" class="option0">All Clinics</option>
                <option value="Chelsea" class="option1">Chelsea</option>
              </select>
            </div>
          </form>
          <form>
            <div class="form-group ClinicDropdown">
              <label>Select User Role:</label>
              <select class="form-control">
                <option value="all" class="option0">All Clinics</option>
                <option value="Chelsea" class="option1">Chelsea</option>
              </select>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-10 col-sm-9">
        <div class="inboxRight">
          <div class="row">
            <div class="col-sm-5 col-md-6 col-xs-5">
              <div class="inlineBtn">
                <button class="btnCstm fixWdth">
                  <input id="checkAllCheck" type="checkbox">
                  <label for="checkAllCheck"></label>
                </button>
                <div class="dropdown">
                  <button class="btnCstm dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">All</a></li>
                    <li><a href="#">Read</a></li>
                    <li><a href="#">Unread</a></li>
                  </ul>
                </div>
                <button class="btnCstm">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
            <div class="col-sm-7 col-md-6 col-xs-7">
              <div class="text-right leftRightPg">
                <span class="text-muted">
                  <b>{{allMessages?.minIndex + 1}}</b>–<b>{{allMessages?.minIndex + pagination.pageSize}}</b> of <b>{{allMessages?.getTotalCount(selectedTab)}}</b>
                </span>
                <div class="btn-group btn-group-sm">
                  <button
                    [ngClass]="{'disabled': (pagination.page < 2 )}"
                    (click)="(pagination.page = (pagination.page - 1))" type="button" class="btnCstm">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </button>
                  <button
                    [ngClass]="{'disabled': ((pagination.page * pagination.pageSize - 1) >= allMessages?.getTotalCount(selectedTab))}"
                    (click)="(pagination.page = (pagination.page + 1))" type="button" class="btnCstm">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <hr class="divider"/>
          <div
            *ngFor="let message of allMessages?.getActiveMessages(
              selectedTab, pagination.pageSize, pagination.page
            ); let index = index;"
            class="row listMsg">
            <div class="col-sm-12 col-md-3">
              <div class="userNCheck">
                <input [attr.id]="('checkAll' + index)" type="checkbox">
                <label [attr.for]="('checkAll' + index)"></label>
                <a [attr.href]="('#collapse' + index)" data-toggle="collapse" data-parent="#accordion">
                  <span class="name">{{message?.clinician}}</span>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-9">
              <div class="messageSendF">
                <a [attr.href]="('#collapse' + index)" data-toggle="collapse" data-parent="#accordion">
                  <span class="">{{message?.subject}}</span>
                  <p class="ellipse"><span class="emailSummary">{{message?.message}}</span>
                  </p>
                </a>
                <div [attr.id]="('collapse' + index)" class="collapse" role="tabpanel">
                  <p class="emailBody">{{message?.message}}</p>
                  <button (click)="message.reply = true; message.forward = false" type="submit" class="customBtn">
                    REPLY
                  </button>
                  <button (click)="message.reply = false; message.forward = true" type="submit" class="customBtn">
                    FORWARD
                  </button>
                  <div class="clearfix"></div>
                  <!-- reply form -->
                  <app-reply *ngIf="message?.reply" [message]="message"></app-reply>

                  <!-- forword form -->
                  <app-forward *ngIf="message?.forward" [message]="message" [users]="users"></app-forward>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <span class="pull-right timestamp">
                  <span class="badge"> {{message?.messageDate | date: 'MMMM dd'}} </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
