<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="modal-body">
        <div class="richtext" style="word-break: break-all;">
          <p>To change the text size on NYC.gov you can use your web browser's settings. Most browsers include
            functionality to
            let you increase or
            decrease the text on a web page. For example, to increase text size using:</p>
          <h4>Chrome</h4>
          <p>
            In the menu to the right of the address bar, select and set Zoom level.<br> Menu &gt; Zoom &gt; +
          </p>
          <h4>Firefox</h4>
          <p>In the View menu, select Zoom. View &gt; Zoom &gt; Zoom In</p>
          <h4>Internet Explorer</h4>
          <p>In the View menu, select Text Size. View &gt; Text Size &gt; Largest</p>
          <h4>Safari</h4>
          <p>
            In the View menu, select Zoom In. View &gt; Zoom In <br>Macintosh Shortcut: Command+
          </p>
          <h4>No Web Browser Endorsement</h4>
          <p>Common browsers are included in this page; mention of a specific browser does not imply endorsement or
            recommendation.</p>
        </div>
      </div>
    </div>
  </div>
</div>
