/* !--======New Group Message ======-*/
/* !--======New Group Message ======-*/
.newGroupMsg {
  padding: 50px 0;
}

.groupBoxBtn button {
  margin-left: 6px;
}


.newGroupMsg hr {
  border-color: #000;
}

/* !--======New Group Message ======-*/
/* !--======New Group Message ======-*/
