/* !--======New Group Message ======-*/
/* !--======New Group Message ======-*/
.newGroupMsg {
  padding: 50px 0;
}

@media (max-width:767px) {
  .newGroupMsg {
    padding: 30px 0 0;
  }

  .newGroupMsgFrm .col-md-3 {
    padding-bottom: 15px;
  }
}

/* !--======New Group Message ======-*/
/* !--======New Group Message ======-*/
