<div class="refferalDesign scrollDown" id="reffDesignId" #reffDesign>
  <div class="row">
    <div class="col-sm-12">
      <h3 class="headingIcon">
        <i class="fa fa-calendar fa-1x"></i>&nbsp;Referrals</h3>
      <div class="displayMainTable table-responsive ">
        <table class="table">
          <thead>
            <tr>
              <th data-dateformat="MM/DD/YY">Date</th>
              <th>Referrals</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let referral of referrals; let index = index;" class="item">
              <td class="col-xs-2">{{referral?.appointmentDate | date: 'shortDate'}}</td>
              <td class="col-xs-10">
                <div>
                  <div role="tab">
                    <a [attr.href]="('#refferal-collapse'+ index)" data-toggle="collapse" data-parent="#accordion">{{referral?.referralOtherLocation}}</a>
                  </div>
                  <div [attr.id]="('refferal-collapse' + index)" class="collapse" role="tabpanel">
                    <p>Curabitur blandit tempus porttitor. Cum sociis natoque penatibus et magnis.</p>
                    <p>Please call
                      <span class="highlight">888-888-8888</span> to schedule an appointment.</p>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>