<!--======New Group Message======-->
<div class="newGroupMsg">
  <div class="container">
    <h3 class="tableHeading">New Group Message</h3>
    <div class="newGroupMsgFrm">
      <form>
        <div class="row form-group">
          <div class="col-md-6 col-sm-6">
            <label>Send To:</label>
            <input type="text" value="Molly Doe,Misty Doe" class="form-control" />
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-3 col-sm-3">
            <select class="form-control" name="TemplateOptions">
              <option selected="" value="0" disabled="">Select a template</option>
              <option value="1" class="option1">PIC Urgent Follow-up</option>
              <option value="2" class="option2">Template Msg 2</option>
              <option value="3" class="option3">Template Msg 3</option>
              <option value="4" class="option4">Template Msg 4</option>
            </select>
          </div>
          <div class="col-md-9 col-sm-9">
            <input type="text" placeholder="Subject" class="form-control" />
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-12">
            <textarea rows="6" readonly="" disabled class="form-control" placeholder="Select a template message from the dropdown menu.">This is template message number three.</textarea>
          </div>
        </div>
        <hr />
        <div class="groupBoxBtn text-right">
          <button class="customBtn" value="Save" name="save" type="submit">Save</button>

          <button class="customBtn" value="Schedule" name="schedule" type="submit">Schedule</button>

          <button class="customBtn closeGreen" value="Close" name="close" type="submit">Close</button>

          <button class="customBtn cPink" value="Send" name="send" type="submit">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--======New Group Message======-->
