/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Extrabld.eot');
  src: url('assets/fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ProximaNova-Extrabld.woff2') format('woff2'),
    url('assets/fonts/ProximaNova-Extrabld.woff') format('woff'),
    url('assets/fonts/ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Semibold.eot');
  src: url('assets/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('assets/fonts/ProximaNova-Semibold.woff') format('woff'),
    url('assets/fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNovaT-Thin.eot');
  src: url('assets/fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ProximaNovaT-Thin.woff2') format('woff2'),
    url('assets/fonts/ProximaNovaT-Thin.woff') format('woff'),
    url('assets/fonts/ProximaNovaT-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Black.eot');
  src: url('assets/fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ProximaNova-Black.woff2') format('woff2'),
    url('assets/fonts/ProximaNova-Black.woff') format('woff'),
    url('assets/fonts/ProximaNova-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Regular.eot');
  src: url('assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('assets/fonts/ProximaNova-Regular.woff') format('woff'),
    url('assets/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Light.eot');
  src: url('assets/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ProximaNova-Light.woff2') format('woff2'),
    url('assets/fonts/ProximaNova-Light.woff') format('woff'),
    url('assets/fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Bold.eot');
  src: url('assets/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('assets/fonts/ProximaNova-Bold.woff') format('woff'),
    url('assets/fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova';
}

form label {
  margin-bottom: 5px;
  font-size: 15px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

a,
a:focus,
a:hover {
  color: #000;
  text-decoration: none;

}

button,
button:focus,
button:hover,
input,
input:focus,
input:hover,
a,
a:focus,
a:hover {
  transition: 300ms all;
}

.form-control {
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

ul,
li {
  margin: 0;
  padding: 0;
}


/* CUSTOM CHECKBOX */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
  position: relative;
  padding-left: 10px;
  cursor: pointer;
  display: inline-block;
}

input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus {
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: 0;
}

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
  content: '';
  position: absolute;
  left: 7px;
  top: -8px;
  width: 17px;
  height: 17px;
  border: 2px solid #ddd;
  background: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
  content: '\2713 ';
  position: absolute;
  top: -4px;
  left: 11px;
  font-size: 15px;
  line-height: 0.8;
  color: #000;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked+label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked)+label:before,
[type="checkbox"]:disabled:checked+label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type="checkbox"]:disabled:checked+label:after {
  color: #999;
}

[type="checkbox"]:disabled+label {
  color: #aaa;
}

table i {
  color: #1770b7;
  transition: 300ms all;
}

table i:hover {
  color: #1770b7;
}

/* radio */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #000000;
  position: absolute;
  top: 5px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.customBtn {
  background: #000;
  padding: 7px 15px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 5px;
  border: 0;
}

*:focus {
  outline: -webkit-focus-ring-color auto 0;
}

.customBtn+.customBtn {
  margin-left: 5px;
}

.customBtn:hover,
.customBtn:focus {
  color: #fff;
  background: #d9098c;
}

.cPink {
  background: #d9098c;
}

.cPink:hover {
  background: #bd097a;
}

.closeGreen {
  background: #1ebcbe;
}

.closeGreen:hover {
  background: #1baaab;
}

.cPink:hover {
  color: #fff;
}

.tableHeading {
  margin-bottom: 44px;
  font-weight: 800;
  color: #383838;
}

main {
  min-height: calc(100vh - 401px);
}

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.headingIcon {
  margin-bottom: 25px;
  font-weight: 800;
  color: #383838;
  margin-top: 15px;
}

.displayMainTable th {
  font-size: 17px;
}

.displayMainTable td {
  font-size: 16px;
}

.userProfile {
  padding-right: 12px;
}

.checkboxDefault {
  height: 30px;
  line-height: 34px;
  border: none;
  border-radius: 4px;
  background: #000;
  padding: 0 11px;
}

.displayMainTable td input[type="checkbox"] {
  margin-left: 11px;
}

tbody tr:nth-child(odd) {
  background: #d1f2f2;
}

.displayMainTable .table>tbody>tr>td {
  border-top: 0;
}


.table>tbody>tr>td {
  font-weight: 600;
}


/*===========sidebar=============*/
.msgSidebar ul li a {
  padding: 10px 15px;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
}

.msgSidebar ul .active a,
.msgSidebar ul .active a:hover {
  background: #006db8;
  color: #fff;
  border-color: #006db8;
}

.msgSidebar ul a:hover,
.msgSidebar ul a:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}


@media (max-width:767px) {

  /* .one,
  .two,
  .three {
    background-color: #000;
    height: 2px;
    margin: 4px auto;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    display: table;
    width: 20px;
    border-radius: 5px;
  }

  .open .one {
    -webkit-transform: rotate(-45deg) translate(-5px, 4px);
    transform: rotate(-45deg) translate(-5px, 4px);
    width: 21.5px;
  }

  .open .three {
    -webkit-transform: rotate(45deg) translate(-4.4px, -3px);
    transform: rotate(45deg) translate(-4.4px, -3px);
    width: 21px;
  }

  .open .two {
    opacity: 0;
  } */


  .headingIcon {
    margin-top: 0;
  }

  .tableHeading {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
  }


  hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .customBtn {
    padding: 7px 10px;
  }

  .customBtn+.customBtn {
    margin-left: 0;
  }

  [type="checkbox"]:not(:checked)+label,
  [type="checkbox"]:checked+label {
    width: 30px;
  }
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  box-shadow: none;
  opacity: .65;
}

.form-control {
  border: 2px solid #ccc !important;
}


.customTb tbody tr:nth-child(odd) {
  background: transparent;
}


.customTb th {
  border-bottom-width: 0 !important;
}

.customTb tbody tr td {
  padding: 25px 10px;
  border: 1px solid #ccc !important;
}

.refferalDesign .displayMainTable td,
.refferalDesign .displayMainTable th,
.reportDesign .displayMainTable td,
.reportDesign.displayMainTable th {
  padding: 18px 10px;
}

/* .refferalDesign .displayMainTable td {
  border: 1px solid #ccc !important;
} */













/* propfile css */

.profilePage {
  border: 1px solid #CCC;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  border-radius: 5px;
}

.patientProfile p {
  font-size: 16px;
  line-height: 20px;
}

.patientProfile .btnSrch {
  margin-top: 20px;
}

.testResultsHeader {
  margin-top: 50px;
}

/*===========sidebar=============*/
.msgSidebar ul li a {
  padding: 10px 15px;
  display: inline-block;
  border-radius: 0px;
  border: 1px solid #ddd;
  width: 100%;
  margin-top: -1px;
  font-size: 16px;
  text-transform: capitalize;
}

.msgSidebar ul .active a {
  background: #006db8;
  color: #fff;
  border-color: #006db8;
}

.msgSidebar ul a:hover,
.msgSidebar ul a:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}

.displayMainTable td {
  font-size: 16px;
}

/*===========sidebar=============*/
.noLeftPad {
  padding-left: 0;
}

.noRightPad {
  padding-right: 0;
}


.panel-body {
  padding: 0;
}

.panelMainHead {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1ebcbe), to(#0087be)) !important;
  cursor: pointer;
}

.panelMainHead h4 {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.panelMainHead h4:after {
  content: "\f078" !important;
  font-family: 'FontAwesome';
  position: absolute;
  right: 38px;
  top: 25px;
}

.level2-accordion #headingOne {
  background-color: #1ebcbe !important;
  border-radius: 5px;
  border: 1px solid #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1ebcbe), to(#0087be)) !important;
}

.panelMain .panel-body {
  padding: 15px;
  background: #006db8;
  border-color: transparent;
}

.panel-heading h4 {
  color: #fff;
}

.level2-accordion .panel-default {
  border: none;
}

.level2-accordion .panel-default a:hover {
  color: #fff;
}

.level2-accordion .panel-body {
  background: #fff;
}

.level2-accordion .panel+.panel {
  margin-top: 0px;
}

.noLeftPad .panel-default {
  border: none;
  box-shadow: none;
}

.noLeftPad .panel-heading {
  position: relative;
}

h4.panel-title.collapsed:after {
  content: "\f077" !important;
  font-family: 'FontAwesome';
  position: absolute;
  right: 38px;
  top: 25px;
}

#headingOne h4.panel-title.collapsed:after {
  content: "\f078" !important;
  font-family: 'FontAwesome';
  position: absolute;
  right: 15px;
  top: 10px;
}

#headingOne h4.panel-title:after {
  content: "\f077" !important;
  font-family: 'FontAwesome';
  position: absolute;
  right: 15px;
  top: 10px;
}

.panelMain .panel-group {
  margin-bottom: 0;
}

.tabDesign {
  margin-top: 50px;
  display: inline-block;
  width: 100%;
}

.tabDesign .panel-heading {
  background-color: #1ebcbe !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1ebcbe), to(#0087be)) !important;
  padding: 15px;
}

.tabDesign h4.panel-title {
  font-size: 20px;
  height: 26px !important;
  font-weight: bold;
  line-height: 20px;
  margin: 10px 0;
}

.tabDesign h4.panel-title i.fa {
  font-size: 1.5em !important;
  padding-right: 5px;
  margin-top: -10px !important;
}

.tabDesign h4.panel-title {
  position: relative;
  cursor: pointer;
}

.tabDesign h4.panel-title.collapsed:after {
  content: "\F078" !important;
  font-family: 'FontAwesome';
  position: absolute;
  right: 10px;
  top: 0px;
}

.tabDesign h4.panel-title:after {
  content: "\F077" !important;
  font-family: 'FontAwesome';
  position: absolute;
  right: 10px;
  top: 0px;
}

.tabDesign .panel-body {
  padding: 15px;
}

.noLeftPad .nested-accordion {
  margin-top: -1px;
}

.panel-heading {
  border-radius: 0;
}

.tabDesign .vctnTitle {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
}

/* .vctnInr table {
  border-top: 2px solid #eee;
} */

.vctnInr th {
  font-size: 16px;
  /* border-bottom: 1px solid #eee; */
}

.refferalDesign th,
.reportDesign th {
  font-size: 16px;
  border-bottom: 1px solid #eee;
}

.referralsList td {
  vertical-align: middle;
}

/* 
.vctnInr table tbody tr:nth-child(odd),
.refferalDesign table tbody tr:nth-child(odd) {
  background: #eee;
} */

.refferalDesign,
.reportDesign {
  margin-top: 40px;
  display: inline-block;
  width: 100%;
}

.tabAcrdn i.fa {
  position: relative;
  top: 4px;
  right: 5px;
}

.panelMain .TestResult {
  color: #1771b7;
  font-weight: 700;
}

.panelMain .follow-up {
  display: block;
  font-size: 14px;
  line-height: 50px;
}

.panelMain table tr th {
  border-bottom-width: 1px;
}

.panelMain .panel-heading h4 {
  padding: 3px 0;
}

.panelMain .panel-title a:hover {
  color: #fff;
}

.tableDesign {
  margin-top: 50px;
}

/* fixed bar design */
.fixBtm {
  position: fixed;
  bottom: 0;
  left: 0;
  min-height: 50px;
  background-color: #222;
  border-color: #080808;
  width: 100%;
  z-index: 99999;
}

.fixBtmInr ul {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.fixBtmInr ul li {
  display: table-cell;
  width: 1%;
}

.fixBtmInr ul li a {
  color: #999;
  padding: 10px;
  display: block;
}

.fixBtmInr ul li a:hover {
  background: transparent;
  color: #fff;
}

.fixBtmInr ul li.active {
  background: #1771b7 !important;
}

.fixBtmInr ul li.active a {
  color: #fff;
}

.iosbContent {
  background-color: #d9098c !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff80b2), to(#d9098c)) !important;
  padding: 2px 10px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  border: 1px solid #fff;
  color: #fff;
  text-shadow: 1px -1px 1px #8d343b;
  margin-left: 20px;
}

.msgSidebar span.badge {
  border-radius: 50%;
  background: #999;
  font-size: 10px;
  font-weight: 700;
}

.msgSidebar .active span.badge {
  background: #fff;
  color: #999;
}

@media(max-width:991px) {
  .noRightPad {
    padding-right: 15px;
  }

  .noLeftPad {
    padding-left: 15px;
  }

  .profilePage {
    padding-top: 16px;
  }
}

@media(max-width:767px) {
  .tabDesign {
    margin-top: 20px;
  }
}

/* profile css end */