/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Extrabld.eot');
  src: url('assets/fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ProximaNova-Extrabld.woff2') format('woff2'),
    url('assets/fonts/ProximaNova-Extrabld.woff') format('woff'),
    url('assets/fonts/ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Semibold.eot');
  src: url('assets/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('assets/fonts/ProximaNova-Semibold.woff') format('woff'),
    url('assets/fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNovaT-Thin.eot');
  src: url('assets/fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ProximaNovaT-Thin.woff2') format('woff2'),
    url('assets/fonts/ProximaNovaT-Thin.woff') format('woff'),
    url('assets/fonts/ProximaNovaT-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Black.eot');
  src: url('assets/fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ProximaNova-Black.woff2') format('woff2'),
    url('assets/fonts/ProximaNova-Black.woff') format('woff'),
    url('assets/fonts/ProximaNova-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Regular.eot');
  src: url('assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('assets/fonts/ProximaNova-Regular.woff') format('woff'),
    url('assets/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Light.eot');
  src: url('assets/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ProximaNova-Light.woff2') format('woff2'),
    url('assets/fonts/ProximaNova-Light.woff') format('woff'),
    url('assets/fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Bold.eot');
  src: url('assets/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('assets/fonts/ProximaNova-Bold.woff') format('woff'),
    url('assets/fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova';
}

form label {
  margin-bottom: 5px;
  font-size: 15px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

a,
a:focus,
a:hover {
  color: #000;
  text-decoration: none;

}

button,
button:focus,
button:hover,
input,
input:focus,
input:hover,
a,
a:focus,
a:hover {
  transition: 300ms all;
}

.form-control {
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

ul,
li {
  margin: 0;
  padding: 0;
}


/* CUSTOM CHECKBOX */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
  position: relative;
  padding-left: 10px;
  cursor: pointer;
  display: inline-block;
}

input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus {
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: 0;
}

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
  content: '';
  position: absolute;
  left: 7px;
  top: -8px;
  width: 17px;
  height: 17px;
  border: 2px solid #ddd;
  background: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
  content: '\2713 ';
  position: absolute;
  top: -4px;
  left: 11px;
  font-size: 15px;
  line-height: 0.8;
  color: #000;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked+label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked)+label:before,
[type="checkbox"]:disabled:checked+label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type="checkbox"]:disabled:checked+label:after {
  color: #999;
}

[type="checkbox"]:disabled+label {
  color: #aaa;
}

table i {
  color: #000;
  transition: 300ms all;
}

table i:hover {
  color: #1770b7;
}

/* radio */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #000000;
  position: absolute;
  top: 5px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.customBtn {
  background: #000;
  padding: 7px 15px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 5px;
  border: 0;
}

*:focus {
  outline: -webkit-focus-ring-color auto 0;
}

.customBtn+.customBtn {
  margin-left: 5px;
}

.customBtn:hover,
.customBtn:focus {
  color: #fff;
  background: #d9098c;
}

.cPink {
  background: #d9098c;
}

.cPink:hover {
  background: #bd097a;
}

.closeGreen {
  background: #1ebcbe;
}

.closeGreen:hover {
  background: #1baaab;
}

.cPink:hover {
  color: #fff;
}

.tableHeading {
  margin-bottom: 44px;
  font-weight: 800;
  color: #383838;
}

main {
  min-height: calc(100vh - 401px);
}

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.headingIcon {
  margin-bottom: 25px;
  font-weight: 800;
  color: #383838;
  margin-top: 15px;
}

.displayMainTable th {
  font-size: 17px;
}

.displayMainTable td {
  font-size: 16px;
}

.userProfile {
  padding-right: 12px;
}

.checkboxDefault {
  height: 30px;
  line-height: 34px;
  border: none;
  border-radius: 4px;
  background: #000;
  padding: 0 11px;
}

.displayMainTable td input[type="checkbox"] {
  margin-left: 11px;
}

.displayMainTable tbody tr:nth-child(odd) {
  background: #f2f2f2;
}


/*===========sidebar=============*/
.msgSidebar ul li a {
  padding: 10px 15px;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
}

.msgSidebar ul .active a,
.msgSidebar ul .active a:hover {
  background: #006db8;
  color: #fff;
  border-color: #006db8;
}

.msgSidebar ul a:hover,
.msgSidebar ul a:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}


@media (max-width:767px) {

  /* .one,
  .two,
  .three {
    background-color: #000;
    height: 2px;
    margin: 4px auto;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    display: table;
    width: 20px;
    border-radius: 5px;
  }

  .open .one {
    -webkit-transform: rotate(-45deg) translate(-5px, 4px);
    transform: rotate(-45deg) translate(-5px, 4px);
    width: 21.5px;
  }

  .open .three {
    -webkit-transform: rotate(45deg) translate(-4.4px, -3px);
    transform: rotate(45deg) translate(-4.4px, -3px);
    width: 21px;
  }

  .open .two {
    opacity: 0;
  } */


  .headingIcon {
    margin-top: 0;
  }

  .tableHeading {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
  }


  hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .customBtn {
    padding: 7px 10px;
  }

  .customBtn+.customBtn {
    margin-left: 0;
  }

  [type="checkbox"]:not(:checked)+label,
  [type="checkbox"]:checked+label {
    width: 30px;
  }
}
