<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="footerLink">
          <ul class="list-unstyled">
            <li><a href="">Directory of City Agencies</a></li>
            <li><a href="">Notify NYC </a></li>
            <li><a href="">NYC Mobile Apps </a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footerLink">
          <ul class="list-unstyled">
            <li><a href="">Contact NYC Government </a></li>
            <li><a href="">CityStore </a></li>
            <li><a href="">Maps </a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footerLink">
          <ul class="list-unstyled">
            <li><a href="">City Employees </a></li>
            <li><a href="">Stay Connected </a></li>
            <li><a href="">Resident Toolkit </a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footerlogo">
          <div class="footerLgFrm">
            <img src="{{nycLogo}}" alt="footerlogo" />
            <div class="searchFooter">
              <input type="search" placeholder="Search.." required />
              <button type="submit"><i class="fa fa-search"></i></button>
            </div>
          </div>
          <p>City of New York. 2015 All Rights Reserved,<p> NYC is a trademark and service mark of the City of New
              York</p>
            <p><a href="">Privacy Policy.</a> <a href="">Terms of Use.</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
