<div class="patientProfile">
  <app-title-header [title]="title"></app-title-header>

  <div class="container">
    <!-- pofile section -->
    <div #profilePage>
      <app-profile-details *ngIf="patient?.patientModal" [patientModal]="patient?.patientModal"></app-profile-details>
    </div>
    <!-- pofile section -->

    <!-- table design section -->
    <div #testReports>
      <app-test-reports *ngIf="patient?.testResults" [activeTestResult]="activeTestResult" [testResults]="patient?.testResults"></app-test-reports>
    </div>
    <!-- table design section -->

    <!-- treatment history section -->
    <div #tabDesign>
      <app-treatment-history *ngIf="patient?.treatmentHistory" [treatmentHistory]="patient?.treatmentHistory"></app-treatment-history>
    </div>
    <!-- treatment history section -->

    <!-- refferal section -->
    <div #reffDesign>
      <app-referrals *ngIf="patient?.referrals" [referrals]="patient?.referrals"></app-referrals>
    </div>
    <!-- refferal section -->

    <!-- report section -->
    <div #repoDesign>
      <app-reports *ngIf="patient?.reports" [reports]="patient?.reports"></app-reports>
    </div>
    <!-- report section -->

    <div class="fixBtm">
      <div class="fixBtmInr">
        <ul>
          <li class="active">
            <a (click)="scroll(profilePage)">
              <div class="text-center border-padding">
                <i class="fa fa-user fa-2x"></i>
              </div>
            </a>
          </li>
          <li>
            <a (click)="scroll(testReports)">
              <div class="text-center border-padding">
                <i class="fa fa-check-circle fa-2x"></i>
              </div>
            </a>
          </li>
          <li>
            <a (click)="scroll(tabDesign)">
              <div class="text-center border-padding">
                <i class="fa fa-medkit fa-2x"></i>
              </div>
            </a>
          </li>
          <li>
            <a (click)="scroll(reffDesign)">
              <div class="text-center border-padding">
                <i class="fa fa-calendar fa-2x"></i>
              </div>
            </a>
          </li>
          <li>
            <a (click)="scroll(repoDesign)">
              <div class="text-center border-padding">
                <i class="fa fa-file-text fa-2x"></i>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
